<div class = "course course-list-item">

    <div class="course-cover">
        <a href="{% url 'institute:course' course.id %}">
            <img src="{{course.cover.url}}" alt="temp">
        </a>
    </div>

    <div class="course-title-container">
        <a href="{% url 'institute:course' course.id %}">
            <h2 class = "course-title"> {{ course.title }} </h2>
        </a>
    </div>

    <div class="course-teacher-container">
        <div class="course-teacher">
            <a href="{% url 'institute:teacher' course.teacher.id %}">
                <i class="fa-solid fa-user-tie"></i>
                Professor: {{ course.teacher.name }}
            </a>
        </div>
    </div>

    <div class="course-content">

        <p>{{ course.description }}</p>

    </div>

    <div class="course-meta-container">

        <div class="course-meta course-duration">
            <h3 class="course-meta-title"><i class="fa-solid fa-calendar-days"></i> Período</h3>
            <div class="course-meta-title">
                {{ course.starts_at|date:"d/m/Y" }} até {{ course.ends_at|date:"d/m/Y" }}
            </div>
        </div>

        <div class="course-meta course-hours">
            <h3 class="course-meta-title"><i class="fas fa-stopwatch"></i> Tempo de aula</h3>
            <div class="course-meta-text">

                {{ course.total_hours }} Horas

            </div>
        </div>    
        
    </div>

    {% if is_course is True %}
    <div class="course-more-info-container">

        <div class="more-info-title">

            <i class="fa-solid fa-circle-info"></i>
            <h3>Mais informação</h3>

        </div>

        <div class="coures-more-info">

            {{course.more_info}}

        </div>

    </div>

    {% endif %}

    {% if is_course is not True %}
    <footer class="course-footer">

        <a class="course-read-more button button-dark button-full-width" href="{% url 'institute:course' course.id %}">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    
   </footer>
   {% endif %}

</div>