{% load static %}

<header class="main-header-container">
    <div class="main-header">
        <div class="opaque"></div>
        <div class ="main-logo">

            <a href="{% url 'institute:home' %}">
                <div class="logo">
                        <img src="{% static 'institute/img/logo.png' %}" alt="logo">
                </div>
            </a>

        </div>
        <i class="fa-solid fa-bars opener"></i>
        <div class="main-menu">

            <a class="closebtn" style="transition: all 0.5s ease 0s;">×</a>

            <div class="menu-itens">
                <a href="{% url 'institute:home' %}">
                    <div class="menu">Sobre a instuição</div>
                </a>

                <a href="{% url 'institute:home' %}">
                    <div class="menu">Contato</div>
                </a>

                <a href="{% url 'institute:home' %}">
                    <div class="signin menu sign">Já sou aluno</div>
                </a>
                
                <a href="{% url 'institute:home' %}">
                    <div class="signup menu sign">Quero ser aluno</div>
                </a>
            </div>

        </div>
    </div>
</header>