
{% extends 'global/base.html' %}

{% block title %}Home | {% endblock title %}

{% block content %}


    {% include 'institute/partials/main-home.html' %}

    <div class="main-courses-container">
    
        <div class="main-courses container">

            <h2 class="section-title">Nossos cursos</h2>

            {% include 'institute/partials/search.html' %}

            <div class="our-courses">

                {% for course in courses %}

                    {% include 'institute/partials/course.html' %}

                {% endfor %}
                

            </div>

        </div>
        

    </div>

{% endblock content %}
