:root {

    --color-primary: #20a6c7;
    --color-secundary: #15364e;

    --color-white: #fff;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-medium: 3rem;
    --spacing-large: 4rem;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: 0;

}

html {

    font-size: 62.5%;

}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--color-gray-1);
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-medium);
}

.main-header {

    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow:  0 .4rem 3rem 0 rgb(0, 0, 0, 0.2);
    
}

.main-header a {

    text-decoration: none;

}

.main-logo {

    text-decoration: none;

}

.logo {

    display: flex;
    flex-direction: column;
    text-align: center;

}

.logo img {
    
    margin: 0 auto;
    max-height: 8rem;

}

.company-name {

    color: var(--color-secundary);
    margin-top: .3rem;

}

.main-menu {

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    font-size: 1.8rem;

}

.menu {

    height: fit-content;
    padding: .8rem 1.2rem;
    border-radius: 3rem;
    color: var(--color-secundary);

}

.signup {

    color: var(--color-secundary);
    background-color: var(--color-primary);

}

.sign {

    border: .2rem solid var(--color-primary);

}

.sign:hover {

    background-color: var(--color-secundary);
    color: var(--color-white);
    border-color: var(--color-secundary);

}

.main-home-container {

    background-image: url("../images/main-image.1630d75cfee7.jpg");
    background-size: cover;
    background-position: center center;
    height: 80rem;
    display: flex;
    justify-content: center;
}

.main-home {

    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-medium);
    font-size: 2rem;

}



.main-home a {
    text-decoration: none;
}

.joinus {

    color: var(--color-white);
    font-weight: bold;
    padding: 1rem 2rem;
    border: .3rem solid var(--color-white);
    border-radius: 10rem;

}

.joinus:hover {

    background-color: var(--color-white);
    color: var(--color-primary)

}

.main-courses h2 {
    color: var(--color-primary);
    font-size: 3rem;
}

.search-form {
    border: .2rem solid var(--color-secundary);
    max-width: 64rem;
    margin: 3rem auto;
    border-radius: .4rem;
    position: relative;
    transition: all 300ms ease-in-out;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;

}

.search-input {
    width: 100%;
    padding-right: 3rem;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-button:focus {

    outline: .1rem solid var(--color-primary);

}

.search-form:focus-within {
    border-color: var(--color-primary);
    background-color: var(--color-white);
}

.search-form:focus-within .search-button {
    color: var(--color-primary);
}

.our-courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-large)
}

.course {
    background-color: var(--color-white);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
    transform: scale(1);
    transition: all 300ms ease-in-out;
    border-radius: .5rem;
    overflow: hidden;   
}

.course img {
    
    width: 100%;

}

.course-list-item {
    max-width: 64rem;
    height: fit-content;
}

.course-list-item:hover {
    transform: scale(1.01);
    box-shadow: -8px 8px 15px rgba(0, 0, 0, .25);
}

.course-title-container {
    padding: var(--spacing-medium);
    padding-bottom: calc(var(--spacing-medium));
}

.course-title-container a{
    text-decoration: none;
    color: var(--color-primary);
}

.course-teacher a {
    text-decoration: none;
    color: var(--color-secundary);
    font-weight: bold;
}

.course-teacher {
    padding: 0 var(--spacing-medium);
}

.course-content {
    padding: var(--spacing-medium);
    padding-top: calc(var(--spacing-medium)/2);
}

.course-meta-container {
    display: flex;
    flex-flow: row wrap;
    padding: var(--spacing-medium);
    background-color: var(--color-gray-1);
}

.course-meta {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
    gap: 1rem;
}

.more-info-title {
    display: flex;
    flex-flow: row wrap;
    padding: var(--spacing-medium);
    gap: .5rem;
    align-items: center;
    padding-bottom: 0;

}

.course-meta-tittle {
    font-size: 1.6rem;

}

.coures-more-info {
    padding: var(--spacing-medium);
}

.course-footer a {
    background-color: var(--color-secundary);
    display: block;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: 2rem var(--spacing-medium);
    transition: all 300ms ease-in-out;
}

.course-footer a:hover {
    filter: brightness(2);
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-secundary);
    color: var(--color-white);
    padding: var(--spacing-large);
}

.main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.main-footer a:hover {
    filter: brightness(.8)
}

.main-courses-detail {
    margin: 0 auto;
}

.center {
    text-align: center;
}

.main-courses-detail .course-list-item {
    max-width: 84rem;
    margin: 0 auto;
}

.main-courses-detail .course-list-item:hover {
    transform: scale(1);
    box-shadow: -8px 8px 15px rgba(0, 0, 0, .25);
}

.m-y {
    margin: var(--spacing-medium) 0;
}

.m-x {
    margin: 0 var(--spacing-medium);
}